table {
    font-weight: bold;
    color: rgb(114 113 113);

    td,
    th {
        padding: 1.25rem 0.75rem;
        word-wrap: break-word;
        word-break: break-word;
        font-size: 1rem;
    }

    thead th {
        border-bottom-width: 1px;
    }

    .color {
        color: var(--light-green);
    }

    a {
        text-decoration: none;
        color: #000 !important;
        font-size: 0.85rem;
        &:hover {
            text-decoration: underline;
            color: #094582;
        }
    }
}

button {
    background-color:burlywood;
    color:#fff;
    border-radius: 0.5rem;
    border: 1px solid transparent;
    width: 16rem;
    font-size: 1.2rem;
}

@media (max-width: 575px) {
    table {
        td, th {
            font-size: 0.8rem;
        }
    }
}