@import '/src/styles-variables.scss';

 
 
cdk-virtual-scroll-viewport {
  overflow: visible;
  contain: initial !important;
  display: initial;
  position: initial;
}

dk-virtual-scroll-viewport .cdk-virtual-scroll-content-wrapper {
  contain: inherit!important;
}
.product-list {
    padding: 0 0;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
}

.checkout-card {
  max-width: 600px !important;
  margin: auto;

 
}
.product-card {
  .mat-icon {
    color: #141313;
    margin: 0 0;
    padding: 0 0;
    font-size: 22px;
  }

  .circle {
    border-radius: 50% !important;
    width: 40px !important;
    height: 40px !important;
    background-color: #FFFFFF !important;
  }
}
 

.material-icons.color_white {
  color: #FFFFFF;
}

mat-icon, mat-icon-button {
  margin-right: 10px !important;
  vertical-align: middle;
  margin: auto
}




.mat-card {
  overflow: hidden;
  min-width: 200px;
  max-height: 200px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding: 15px 5px !important;
  text-align: left;
}

img.mat-card-image {
  float: left;
  min-width: 200px;
  min-height: 200px;
  object-fit: cover;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.mini-cart {
  mat-card {
    margin: 4px;
    height: 150px;
    box-shadow: none;
    border: 1px solid #FFFFFF;
  }

  .view-cart-btn {
    border: 1px solid #ccc;
  }

  .card-desc {
    height: 100%;

    div, select {
      margin: 6px;
    }
  }

  .image-mage {
    max-width: 150px;
    max-height:130px;
    margin: 0 0;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    object-fit: cover;
  }



  .empty-cart-title {
    color: var(--subtitle);
    width: 100%;
    text-align: center;
    margin-top: 24px;
  }

  .cart-button {
    width: 97%;
    margin: 0 auto;
  }

 

  .mini-cart-amount {
    text-align: end;
    width: 100%;
    margin: 10px;
  }

  .mini-cart-amount-title {
    margin: 10px;
  }

  .delete-cart {
    color: red;
  }
}
.pagetoolbar {
  margin-top: 20px; 
  .mat-tab-link {
    min-width: 120px;
    padding: 0 15px;
  }


  .vertical-form {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
      }

      .vertical-form > h1 {
          margin-top: 16px;
      }
       

      .price-quantity {
          display: flex;
          justify-content: space-around;
          align-items: center;
      }

      .order-review-table th, td {
          padding-right: 20px;
      }

      tr.mat-footer-row {
          font-weight: bold;
      }

      .title {
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
      }

      .title button {
          width: unset;
      }

      .input-group {
          display: flex;
          align-items: center;
      }

      .input-group > button {
          width: unset;
      }

      .input-group .material-icons {
          font-size: 21px;
      }

      /* Hide Up Down Buttons on Number Input */
      /* Chrome, Safari, Edge, Opera */
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
      }

      /* Firefox */
      input[type=number] {
          -moz-appearance: textfield;
      }

      .cursor-pointer {
          cursor: pointer;
      }
  @media (max-width: map-get($grid-breakpoints, md)) {
    .mat-tab-link {
      min-width: 0;
    }
  }
}
