<div [@routeAnimations]="o.isActivated && o.activatedRoute.routeConfig.path">
  <mat-toolbar class="pagetoolbar" fxFlexFill>
    <div style="padding-left:10px;" fxLayout="row" fxFlex="80">
      <h3>Today's Picks for You </h3>
    </div>
    <div style="padding-right:10px;" fxLayout="row" fxFlex="20">
      <button mat-icon-button matTooltip="shopping cart" [routerLink]="['/products/cart']">
        <mat-icon matBadgePosition="after" matBadge="{{totalItems}}" matBadgeColor="warn">shopping_cart</mat-icon>
      </button>

      <button style="padding-left:30px;" mat-icon-button matTooltip="Clean" color="primary" (click)="CleanCart()">
        <mat-icon >library_add_check</mat-icon>
      </button>
    </div>
   
  </mat-toolbar>
  <router-outlet #o="outlet"></router-outlet>
</div>
