
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="text-dark font-weight-bold my-4">{{'wishlist'|translate}}</h2>
           
        </div>
    </div>
    <!-- Wishlist Component -->
    <div *ngIf="favorites?.length; else placeholder" class="row">
        <div *ngFor="let item of favorites" class="col-12 col-md-6 col-lg-4">
                <app-product-item [wishlist]="true" [product]="item"></app-product-item>
            </div>
    </div>
    <!-- Appear if wishlist is empty -->
    <ng-template #placeholder>
        <div class="row">
            <div class="col-12 text-center mt-5">
                <img src="assets/hankasset/wish.jpg" alt="" class="mt-4">
                <h5 class="mt-2">{{'YOURWISHLISTISEMPTY'|translate}}</h5>
                <button type="button" mat-button>{{'shopNow'|translate}}</button>
            </div>
        </div>
    </ng-template>
</div>


<!--
<div class="container">
    <h2 class="my-5 font-weight-bold">Wishlist</h2>

<div class="row">
  <div class="col-12">
      <div class="text-center m-auto">
            <img src="assets/hankasset/wish.jpg" alt="" class="mt-4">
            <h5 class="mt-2">No products added to the Wishlist</h5>
      </div>
     
  </div>
</div>
</div>-->
