<div class="container">
    <div class="row">
        <div class="col-12">
            <h3 class="text-dark font-weight-bold mb-4">Recent Orders</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table font-weight-bold">
                <thead>
                    <th>{{"itemName"|translate}}</th>
                    <th>{{"date"|translate}}</th>
                    <th>{{"quantity"|translate}}</th>
                    <th>{{"total"|translate}}</th>
                </thead>
                <tbody>
                    <ng-container *ngFor="let item of orderDetails?.cart">
                        <tr>
                            <td class="font-weight-bold">{{item.name}}
                            </td>
                            <td class="small">{{orderDetails?.date | date: 'dd/MM/yyyy'}}</td>
                            <td>{{item.qty}}</td>
                            <td>{{item.total_price}}{{"LE"|translate}}</td>
                        </tr>
                        <tr>
                            <td class="p1 small">{{item?.description}}</td>
                        </tr>
                        <tr class="border-bottom">
                            <td colspan="4">{{item.standard_rate}}{{"LE"|translate}}</td>
                        </tr>
                    </ng-container>
                </tbody>
                <tfoot>
                    <tr>
                        <td>{{"subTotal"|translate}}</td>
                        <td></td>
                        <td></td>
                        <td>{{orderDetails?.total_price}} {{"LE"|translate}}</td>
                    </tr>
                    <tr>
                        <td>{{"shipping"|translate}}</td>
                        <td></td>
                        <td></td>
                        <td>{{orderDetails?.shipping_rate}} {{"LE"|translate}}</td>
                    </tr>
                    <tr *ngIf="orderDetails?.vat">
                        <td>{{"VAT"|translate}}</td>
                        <td></td>
                        <td></td>
                        <td>{{orderDetails?.vat}} {{"LE"|translate}}</td>
                    </tr>
                    <tr *ngIf="orderDetails?.discount">
                        <td>{{"discount"|translate}}</td>
                        <td></td>
                        <td></td>
                        <td>{{orderDetails?.discount}} {{"LE"|translate}}</td>
                    </tr>
                    <tr id="total" class="border-top mt-3">
                        <td>{{"grandTotal"|translate}}</td>
                        <td></td>
                        <td></td>
                        <td>{{orderDetails?.final_total_price}} {{"LE"|translate}}</td>
                    </tr>
                    <!-- <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <button mat-button type="button" class="float-right my-5  py-1 text-white">
                                <fa-icon [icon]="faSyncAlt " class="pr-2"></fa-icon>Reorder
                            </button>
                        </td>
                    </tr> -->
                </tfoot>
            </table>
        </div>
    </div>
</div>