
<div fxLayoutAlign="center center"> 
  <mat-card fxFlex="400px">
    <form fxLayout="column" [formGroup]="mainform" autocomplete="off">

      <div fxLayout="row" fxLayoutGap="20px">
        <mat-form-field fxFlex="100" >
          <mat-icon matPrefix>person</mat-icon>
          <input required matInput formControlName="cardOwner" placeholder="Name on card">
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutGap="20px">
        <mat-form-field fxFlex="100"  >
          <mat-icon matPrefix>credit_card</mat-icon>
          <input required matInput formControlName="cardNumber" placeholder="Card Number">
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutGap="20px">
        <mat-form-field fxFlex="50">
          <mat-label>Month</mat-label>
          <mat-select formControlName="expDateMM" placeholder="Expires Month">
            <mat-option *ngFor="let number of [1,2,3,4,5,6,7,8,9,10,11,12]" [value]="number">
              {{ number }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field fxFlex="50">
          <mat-label>Year</mat-label>
          <mat-select formControlName="expDateYY" placeholder="Expires Years">
            <mat-option *ngFor="let number of [2020,2021,2022,2023,2024,2025]" [value]="number">
              {{ number }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutGap="20px">
        <mat-form-field fxFlex="100"  >
          <mat-icon matPrefix>vpn_key</mat-icon>
          <input required matInput placeholder="CVV" formControlName="cvv" maxlength="3" minlength="3">
        </mat-form-field>
      </div>

      <mat-card-actions fxLayout="column" fxFlex.xl="100" fxLayoutAlign="end space-between">
        <button color="primary" (click)="SubmitForm(mainform);" mat-flat-button>Submit</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>

