<div class="checkout-card" fxLayoutAlign="center center">
  <mat-horizontal-stepper #stepper [@.disabled]="true">
    <mat-step [stepControl]="AddressFormGroup" errorMessage="Name is required.">
      <form fxFlex="90" fxLayout="column" [formGroup]="AddressFormGroup">
        <ng-template matStepLabel>Shipping Address</ng-template>
        <div fxLayout="row" fxLayoutGap="20px">
          <mat-form-field fxFlex="100">
            <mat-icon matPrefix>star_border</mat-icon>
            <input required matInput formControlName="address1" placeholder="address1">

            <mat-error *ngIf="AddressFormGroup.get('address1').hasError('required')">
              required
            </mat-error>

          </mat-form-field>

        </div>
        <div fxLayout="row" fxLayoutGap="20px">
          <mat-form-field fxFlex="100">
            <mat-icon matPrefix>star_border</mat-icon>
            <input required matInput formControlName="address2" placeholder="address2">
            <mat-error *ngIf="AddressFormGroup.get('address2').hasError('required')">
              required
            </mat-error>
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutGap="20px">
          <mat-form-field fxFlex="100">
            <mat-icon matPrefix>star_border</mat-icon>
            <input required matInput formControlName="city" placeholder="city">
            <mat-error *ngIf="AddressFormGroup.get('city').hasError('required')">
              required
            </mat-error>
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutGap="20px">
          <mat-form-field fxFlex="100">
            <span matPrefix style="margin-right: 8px;"><mat-icon>star_border</mat-icon></span>
            <mat-select formControlName="state" placeholder="State">
              <mat-option *ngFor="let state of  billingAddressStates " [value]="state.code">
                {{ state.value }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="AddressFormGroup.get('state').hasError('required')">
              required
            </mat-error>
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutGap="20px">
          <mat-form-field fxFlex="100">
            <mat-icon matPrefix>star_border</mat-icon>
            <input required matInput placeholder="Zip Code" formControlName="zip" maxlength="4" minlength="4">
            <mat-error *ngIf="AddressFormGroup.get('zip').hasError('required')">
              required
            </mat-error>
          </mat-form-field>
        </div>

        <div fxLayout="column" fxFlex.xl="100" fxLayoutAlign="end space-between">
          <button color="primary" (click)="goForward(stepper)" mat-flat-button>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="CreditCardFormGroup" errorMessage="Address is required.">
      <div class="checkout-card" fxLayoutAlign="center center">
        <form fxFlex="90" fxLayout="column" [formGroup]="CreditCardFormGroup" autocomplete="off">
          <ng-template matStepLabel>Card Information</ng-template>
          <div fxFlex="45" [fxFlex.xs]="95" [fxFlex.sm]="75" [fxFlex.lg]="20">

            <div fxLayout="row" fxLayoutGap="20px">
              <mat-form-field fxFlex="100">
                <mat-icon matPrefix>person</mat-icon>
                <input required matInput formControlName="card_holder_name" placeholder="Name on card">
                <mat-error *ngIf="CreditCardFormGroup.get('card_holder_name').hasError('required')">
                  required
                </mat-error>
              </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutGap="20px">
              <mat-form-field fxFlex="100">
                <mat-icon matPrefix>credit_card</mat-icon>
                <input required matInput formControlName="card_number" placeholder="Card Number">
                <mat-error *ngIf="CreditCardFormGroup.get('card_number').hasError('required')">
                  required
                </mat-error>
              </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutGap="10px">
              <mat-form-field fxFlex="50">
                <mat-label>Month</mat-label>
                <span matPrefix style="margin-right: 8px;"><mat-icon>calendar_today</mat-icon></span>
                <mat-select formControlName="card_exp_mm" placeholder="Expires Month">
                  <mat-option *ngFor="let number of  creditCardMonths " [value]="number">
                    {{ number }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="CreditCardFormGroup.get('card_exp_mm').hasError('required')">
                  required
                </mat-error>
              </mat-form-field>
              <mat-form-field fxFlex="50">
                <mat-label>Year</mat-label>
                <span matPrefix style="margin-right: 8px;"><mat-icon>calendar_today</mat-icon></span>
                <mat-select formControlName="card_exp_yy" placeholder="Expires Years">
                  <mat-option *ngFor="let number of  creditCardyears" [value]="number">
                    {{ number }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="CreditCardFormGroup.get('card_exp_yy').hasError('required')">
                  required
                </mat-error>
              </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutGap="20px">
              <mat-form-field fxFlex="100">
                <mat-icon matPrefix>vpn_key</mat-icon>
                <input required matInput formControlName="card_cvv" placeholder="CVV">
                <mat-error *ngIf="CreditCardFormGroup.get('card_cvv').hasError('required')">
                  required
                </mat-error>
              </mat-form-field>
            </div>

          </div>
          <div fxLayout="column" fxFlex.xl="100" fxLayoutAlign="end space-between">
            <button color="primary" (click)="goForward(stepper)" mat-flat-button>Next</button>
            <br />
            <a mat-flat-button (click)="goBack(stepper)">Back</a>
          </div>

        </form>

      </div>
    </mat-step>


    <mat-step>
      <ng-template matStepLabel>Place Order</ng-template>
      <p>You are now done.</p>

      <div class="checkout-card" fxLayoutAlign="center center">
        <form fxFlex="90" fxLayout="column"  autocomplete="off">
          <ng-template matStepLabel>Card Information</ng-template>
          <div fxFlex="45" [fxFlex.xs]="95" [fxFlex.sm]="75" [fxFlex.lg]="20">
            <div fxLayout="row">
              <h3 fxFlex="70" class="mini-cart-amount-title">Credit Crad Used </h3>
              <h3 class="mini-cart-amount">*****-{{PlaceOrderSummary.card_number_last4}}</h3>
            </div>
            <div fxLayout="row">
              <h3 fxFlex="70" class="mini-cart-amount-title">Total Items Ordered </h3>
              <h3 class="mini-cart-amount">{{PlaceOrderSummary.sub_total_qty}}</h3>
            </div>
            <div fxLayout="row">
              <h3 fxFlex="70" class="mini-cart-amount-title">Sub Total: </h3>
              <h3 class="mini-cart-amount">${{PlaceOrderSummary.sub_total_price}}</h3>
            </div> 
          </div>


          <div fxLayout="column" fxFlex.xl="100" fxLayoutAlign="end space-between">
            <button color="primary" (click)="SubmitForm();" mat-flat-button>
              Place Order
              --- ${{PlaceOrderSummary.sub_total_price}}
            </button>
              
            <br />
            <a mat-flat-button (click)="goBack(stepper)">Back</a>
          </div>
           
        </form> 
      </div> 
    </mat-step>

  </mat-horizontal-stepper>
</div>
 

  

