<div class="product-card" > 
    <mat-card fxFlex="100">
      <div class="product-image-wrapper" >
        <img mat-card-image routerLink="/product-detail" [alt]="product.name" [src]="product.imge_url">
      </div> 
      <mat-card-content >
        <div class="product-details">
          <span class="pname">{{product.name}}</span>
          <span class="pprice">${{product.unit_price }}</span>
        </div>
        <div class="pdescription">
          <p>{{ product.description }}</p>
        </div>
      </mat-card-content>
      <div class="product-actions" >
        <button matTooltip="save" class="circle" mat-icon-button color="primary" (click)="addToCart(product)">
          <mat-icon>library_add_check</mat-icon>
        </button>
        <button style="margin-left:10px" matTooltip="add to cart" class="circle" mat-icon-button color="primary" (click)="addToCart(product)">
          <mat-icon>add_shopping_cart</mat-icon>
        </button>
      </div>
    </mat-card>
  </div>
