<div class="container">
    <form [formGroup]="passwordForm">
        <div class="row">
            <div class="col-12">
                <h3 class="text_dark font-weight-bold mb-4">{{"change_password"|translate}}</h3>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label>{{"currentPassword"|translate}}</label>
                    <div class="input-group position-relative">
                        <input formControlName="old_password" id="password-field2" type="password" class="form-control"
                            name="password" autocomplete="false" placeholder="{{'enter_password'|translate}}">
                        <span class="field-icon toggle-password" [ngStyle]="localStorage.getLang() === 'en' ? {'right': '1rem'} : {'left' : '1rem'}" toggle="#password-field2">
                           <!-- <fa-icon [icon]="faEye "> </fa-icon> -->
                        </span>
                    </div>
                    <ng-container
                        *ngIf="passwordForm?.controls?.old_password?.touched && passwordForm?.controls?.old_password?.errors">
                        <div [class.d-block]="passwordForm?.controls?.old_password?.errors.required"
                            class="invalid-feedback">
                            {{"currentPasswordIsRequired"|translate}}
                        </div>
                        <div [class.d-block]="passwordForm?.controls?.old_password?.errors.minlength || passwordForm?.controls?.old_password?.errors.maxlength"
                            class="invalid-feedback">
                            {{"currentPasswordMustContain6Characters"|translate}}
                        </div>
                    </ng-container>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="form-group">
                    <label>{{"newPassword"|translate}}</label>
                    <div class="input-group position-relative">
                        <input formControlName="new_password" (change)="validatePassword()" id="password-field1" type="password" class="form-control"
                            autocomplete="false" placeholder="{{'enter_password'|translate}}">
                        <span class="field-icon toggle-password" [ngStyle]="localStorage.getLang() === 'en' ? {'right': '1rem'} : {'left' : '1rem'}" toggle="#password-field1">
                            <!--<fa-icon [icon]="faEye "> </fa-icon>-->
                        </span>
                    </div>
                    <ng-container
                        *ngIf="passwordForm?.controls?.new_password?.touched && passwordForm?.controls?.new_password?.errors">
                        <div [class.d-block]="passwordForm?.controls?.new_password?.errors.required"
                            class="invalid-feedback">
                            {{"newPasswordisRequired"|translate}}
                        </div>
                        <div [class.d-block]="passwordForm?.controls?.new_password?.errors.minlength || passwordForm?.controls?.new_password?.errors.maxlength"
                            class="invalid-feedback">
                            {{"newPasswordMustContain6Characters"|translate}}
                        </div>
                    </ng-container>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="form-group">
                    <label>{{"confirmPassword"|translate}}</label>
                    <div class="input-group position-relative">
                        <input formControlName="confirmpassword" id="password-field3" type="password"
                            class="form-control" name="password" autocomplete="false" placeholder="{{'enter_password'|translate}}">
                        <span class="field-icon toggle-password" [ngStyle]="localStorage.getLang() === 'en' ? {'right': '1rem'} : {'left' : '1rem'}" toggle="#password-field3">
                           <!-- <fa-icon [icon]="faEye "> </fa-icon>-->
                        </span>
                    </div>
                    <ng-container
                        *ngIf="passwordForm?.controls?.confirmpassword?.touched && passwordForm?.controls?.confirmpassword?.errors">
                        <div [class.d-block]="passwordForm?.controls?.confirmpassword?.errors.required"
                            class="invalid-feedback">
                            {{"confirmPasswordIsRequired"|translate}}
                        </div>
                        <div [class.d-block]="passwordForm?.controls?.confirmpassword?.errors?.NotEqual"
                            class="invalid-feedback">
                            {{"NewPasswordAndConfirmPasswordNotMatched"|translate}}
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
        <button type="button" [disabled]="!passwordForm.valid" class="float-right" mat-button (click)="submit()">{{"save"|translate}}</button>
    </form>
</div>