label {
    color: #000;;
    font-weight: 500;
    font-size: 1.25rem;
}

.form-group {
    position: relative;
}

::placeholder {
    color: rgb(220, 220, 220);
    font-size: 1rem;
}

button {
    background-color: burlywood;
    border-radius: 0.5rem;
    border: 1px solid transparent;
    color: #fff;
    margin: 20px 0px;
    font-size: 1.25rem;
    width: 16rem;
}

.field-icon {
    position: absolute;
    right: 1rem;
    bottom: 50%;
    transform: translateY(50%);
    z-index: 5;
}

fa-icon {
    color: darkgray;
}