<div class="container">
   
    <div class="row">
        <div class="col-12">
            <h3 class="text-dark font-weight-bold my-4">{{'my_account' | translate}}</h3>
        </div>
    </div>
    <mat-divider class="mb-4"></mat-divider>
    <div class="row mb-4">
        <div class="col-12 col-md-3 mb-4 mb-md-0">
           <app-side-bar></app-side-bar>
        </div>
        <div class="col-12 col-md-9">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<app-four-part></app-four-part>
