<div class="container">
    <h3 class="text-dark font-weight-bold mb-4">{{'personal_details'|translate}}</h3>
    <hr>
    <form [formGroup]="detailsForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label class="text-dark font-weight-bold my-2 ">{{'user_name'|translate}}</label>
                    <input formControlName="name" type="text" class="form-control " placeholder="Omar Nael">
                    <ng-container *ngIf="detailsForm.controls?.name.touched && detailsForm.controls?.name?.errors">
                        <div class="invalid-feedback my-2"
                            [class.d-block]="detailsForm.controls?.name?.errors?.required">
                            {{'user_name_is_required'|translate}}
                        </div>
                        <div class="invalid-feedback my-2"
                            [class.d-block]="detailsForm.controls?.name?.errors?.minlength || detailsForm.controls?.name?.errors?.maxlength">
                            {{'user_name_must_contain_3_30_characters'|translate}
                        </div>
                        <div class="invalid-feedback my-2"
                            [class.d-block]="detailsForm.controls?.name?.errors?.pattern">
                            {{'please_enter_a_valid_name'|translate}}
                        </div>

                    </ng-container>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="form-group">
                    <label class="text-dark font-weight-bold mt-4 mb-2 ">{{'email_address'|translate}}</label>
                    <input formControlName="email" type="email" class="form-control"  placeholder="omar.nael@yahoo.com">
                    <ng-container *ngIf="detailsForm.controls?.email.touched && detailsForm.controls?.email?.errors">
                        <div class="invalid-feedback my-2"
                            [class.d-block]="detailsForm.controls?.email?.errors?.required">
                            {{'email_is_required'|translate}
                        </div>
                        <div class="invalid-feedback my-2"
                            [class.d-block]="detailsForm.controls?.email?.errors?.email || detailsForm.controls?.email?.errors?.pattern">
                            {{'please_enter_a_valid_email_address'|translate}}
                        </div>
                    </ng-container>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="form-group">
                    <label class="text-dark font-weight-bold mt-4 mb-2 ">{{"phone_number"|translate}}</label>
                    <input formControlName="phone" type="string" class="form-control"  placeholder="+2 0111 258 236">
                    <ng-container *ngIf="detailsForm.controls?.phone.touched && detailsForm.controls?.phone?.errors">
                        <div class="invalid-feedback my-2"
                            [class.d-block]="detailsForm.controls?.phone?.errors?.required">
                            {{'phone_is_required'|translate}}
                        </div>
                        <div class="invalid-feedback my-2"
                            [class.d-block]="!detailsForm.controls?.phone?.errors?.pattern && (detailsForm.controls?.phone?.errors?.minlength || detailsForm.controls?.phone?.errors?.maxlength)">
                            {{'phone_must_contain_8_15_characters'|translate}}
                        </div>
                        <div class="invalid-feedback my-2"
                            [class.d-block]="detailsForm.controls?.phone?.errors?.pattern">
                            {{'please_enter_a_valid_phone_number'|translate}}
                        </div>
                    </ng-container>
                </div>
            </div>
            <div class="col-12">
                <button type="submit" [disabled]="!detailsForm.valid || !detailsForm.dirty" class="float-right" mat-button>{{'save' | translate}}</button>
            </div>
        </div>
    </form>
</div>