button {
    background-color: burlywood;
    border-radius: 0.5rem;
    border: 1px solid transparent;
    color: #fff;
    margin: 20px 0px;
    font-size: 18px;
    width: 16rem;
}

label {
    color: #000;
    font-weight: 500;
}
::placeholder{ color: var(--border-grey);}