<ul class="list-group">
    <li class="list-group-item">
        <a routerLink="/profile" 
        routerLinkActive="active-link" 
        [routerLinkActiveOptions]="{exact: true}">{{'personal_details'|translate}}</a>
    </li>
    <li class="list-group-item">
        <a routerLink="wishlist" routerLinkActive="active-link">{{'wishlist'|translate}}</a>
    </li>
    <li class="list-group-item">
        <a routerLink="orders" routerLinkActive="active-link">{{'order_history'|translate}}</a>
    </li>
    <li class="list-group-item">
        <a routerLink="address" routerLinkActive="active-link">{{'address_book'|translate}}</a>
    </li>
    <li class="list-group-item">
        <a routerLink="change-password" routerLinkActive="active-link">{{'change_password'|translate}}</a>
    </li>
    <li (click)="authManager.logout()" class="list-group-item">
        <a>{{'logout'|translate}}</a>
    </li>
</ul>