<div class="container my-5">
    <h2 class="my-5 font-weight-bold">Cart</h2>

    <div class="row">
      <div class="col-12">
          <div class="text-center m-auto">
                <img src="assets/hankasset/cart.jpg" alt="" class="mt-4">
                <h5 class="mt-2">Your Cart is currently empty.</h5>
          </div>
         
      </div>
    </div>
    
        <div class="row mt-5">
          <div class="col-xl-3 col-lg-4 col-md-6 pr-0">
            <div class="card w-100"  >
                <span> Sale! </span>
            </div>
            <p class="text-muted mt-2">Black Sneakers <br> $139 </p>
           
          </div>
          <div class="col-xl-3 col-lg-4 col-md-6 pr-0">
              <div class="card w-100" >
                  <span> Sale! </span>
              </div>
              <p class="text-muted mt-2">Black Sneakers <br> $139 </p>
             
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 pr-0">
                <div class="card w-100" >
                    <span> Sale! </span>
                </div>
                <p class="text-muted mt-2">Black Sneakers <br> $139 </p>
               
              </div>
            <div class="col-xl-3 col-lg-4 col-md-6 pr-0">
                <div class="card w-100" >
                  <span> Sale! </span>
                </div>
                <p class="text-muted mt-2">Black Sneakers <br> $139 </p>
              
              </div>
        </div>
      </div>
      <app-four-part></app-four-part>
